:root {
    --primary-color-text : black;
}
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--primary-color-text);
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/* navigation */
#navigation {
    padding: 0 1rem 0 2rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
    /* navigation title*/
    #navigation .nav-title {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    #navigation .nav-title a{
        height: 100%;
        display: flex;
        align-items: center;
        display: flex;
    }
    /* navigation title*/
    /* navigation action*/
    #navigation .nav-action {
        display: flex;
        height: 100%;
        align-items: center;
    }
    #navigation .nav-action .nav-item {
        padding: 0 10px 0 10px;
        height: 100%;
    }
    #navigation .nav-action .nav-item a{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    #navigation .nav-action .nav-item a:hover{
        text-decoration: underline;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    /* navigation action*/
/* navigation */
/* header */
#header-page {
    display: flex;
    align-items: center;
    padding-left: 6rem;
    height: 39rem;
    border-bottom: 1px solid black;
}
    /* header content*/
    .header-content {
        margin-bottom: 5rem;
    }
    .header-content #title, #name, #description{
        margin: 0;
    }
    #title{
        font-size: 30px;
        font-weight: bold;
    }
    #name{
        font-size: 60px;
        text-decoration: underline;
    }
    #description{
        font-size: 20px;
        font-weight: 300;
    }
    /* header content*/
/* header */
/* about me */
#about-me-page {
    height: 43.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}
    /* about me title*/
    #about-me-page .title{
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    /* about me title*/
    /* about me content*/
    #about-me-page .content{
        font-size: 18px;
        padding: 0 23rem 0 23rem;
        text-align: justify;
        margin-top: 0;
    }
    /* about me content*/
/* about me */
/* education */
#education{
    height: 43.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
    /* education title */
    #education .title {
        font-size: 30px;
        margin: 3rem 0 2rem 0;
    }
    /* education title */
    /* education content */
    #education .content{
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 15fr 1fr 15fr;
    }
        /* education content left */
        #education .content .left{
            width: 100%;
            height: 10rem;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
        }
        /* education content left */
        /* education content middle */
        #education .content .middle{
            display: grid;
            grid-template-rows: 3fr 1fr 3fr;
            justify-content: center;
            width: 100%;
            height: 10rem;
        }
        #education .content .middle .line{
            display: flex;
            justify-content: center;
        }
        #education .content .middle .top{
            display: flex;
            justify-content: center;
            padding-bottom: 0.5rem;
        }
        #education .content .middle .bottom{
            padding-top: 0.5rem;
        }
        #education .content .middle .circle{
            background-color: black;
            border-radius: 50px;
            width: 20px;
        }
        /* education content middle */
        /* education content right */
        #education .content .right{
            width: 100%;
            height: 10rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
        /* education content right */
    /* education content */
/* education */
/* experience */
#experience{
    height: 43.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
    /* experience title */
    #experience h1{
        margin: 2rem 0 1rem 0;
        font-size: 30px;
    }
    /* experience title */
    /* experience content */
    
    /* experience content */
/* experience */